<!-- Barra de Navegação -->
<nav class="w-full bg-indigo-600 fixed top-0 left-0 z-70">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-24">
    <!-- Nome da Aplicação -->
    <div class="flex-shrink-0">
      <%= link_to 'Redator Dev', home_index_path, class: "text-white text-2xl font-bold" %>
    </div>
    <!-- Links de Navegação -->
    <div class="flex items-center">
      <%= link_to 'New Article', new_article_path, class: "text-white text-sm font-medium hover:text-gray-300 mr-4" %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-white text-sm font-medium hover:text-gray-300" %>
    </div>
  </div>
</nav>

<!-- Conteúdo da Página -->
<div class="flex flex-col items-center min-h-screen py-24 px-4 bg-gray-100 mt-16">
  <div class="w-full max-w-4xl bg-white shadow rounded-lg p-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">New Article</h1>

    <%= render "form", article: @article %>

    <div class="mt-6">
      <%= link_to "Back to articles", articles_path, class: "text-gray-500 hover:text-gray-700" %>
    </div>
  </div>
</div>
